{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'test/style.css' %}"/>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mytest</title>
</head>
<body>
{% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url 'test:detail' question.id %}">{{ question.question_text }}</a></li>

            {# hardcode#}
            {# <a href="/test/{{ question.id }}/">{{ question.question_text }}</a><br/>#}

        {% endfor %}
    </ul>
{% else %}
    <p>No tests are available.</p>
{% endif %}
</body>
</html>